/* CSS Component ItemCart */
.cartDn{
    /* outline: 3px solid slateblue; */
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cartDn h2, h3, h4{
    font-size: 1em;
    font-weight: 300;
}

.cartDn h2, .subtotal{
    font-weight: 700;
}

.cartDn img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 10px;
}


/* CSS Component Cart */
.bg{
    height: 100%;
    padding: 0.1px;
    background-color: #f0f0f0;
}

.containerCart{
    width: 1184px;
    background-color: #fff;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid #22222241;
    box-shadow: 0 5px 20px #0000006d;
    padding: 20px;
}

.containerCart .cartDetail{
    /* outline: 2px solid greenyellow; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerCart .remove{
    width: 30px;
    height: 30px;
    border-radius: 33px;
    background-color: #2e2525;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
}

.containerCart .remove:hover{
    background-color: #ff0303a8;
    transition: .2s;
}

.btnCart{
    outline: 2px solid rgb(255, 127, 47);
}

.btnNav{
    outline: 2px solid rgb(255, 47, 255);
    display: flex;
    justify-content: space-evenly;
}