*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
}

:root{
--mainColor: #29335C;
--mainColorLight: #5767aa;
--secondaryColor: #DB2B39;
--textColor: #eee;
}

.mainContainer{
    height: 100vh;
}